<h3>User Account Table</h3>

<table id="user">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Telephone</th>
  </tr>
  {{#each listUser}}
    <tr>
      <td>{{firstname}}</td>
      <td>{{lastname}}</td>
      <td>{{address}}</td>
      <td>{{mob_no}}</td>
    </tr>
  {{/each}}
</table>
<div class="pagination">
  <div class="row">
    <div class="col-lg-6 col-md-6 pt-xs-15">
    </div>
    <div class="col-lg-6 col-md-6">
      <ul class="pagination-box pt-xs-20 pb-xs-15">
        {{#each listPage}}
          <li><a href="/userlist?page={{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <a href="/account" class="btn btn-primary">Back</a>
  <a href="/" class="btn btn-primary">Home</a>
</div>

<style>
  #user { font-family: Arial, Helvetica, sans-serif; border-collapse: collapse;
  width: 100%; } #user td, #user th { border: 1px solid #ddd; padding: 8px; }
  #user tr:nth-child(even){background-color: #f2f2f2;} #user tr:hover
  {background-color: #ddd;} #user th { padding-top: 12px; padding-bottom: 12px;
  text-align: left; background-color: #04AA6D; color: white; }
</style>