<div id="content-wrapper">
  <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Tốp 10 sản phẩm bán chạy nhất</a>
        </li>
      </ol>

      <!-- DataTables -->
      <div class="card mb-3">
          <div class="card-header">
              <i class="fas fa-table"></i>
              Danh sách 10 sản phẩm bán chạy nhất
          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Số lượng bán</th>
                    <th>Mã sản phẩm</th>
                    <th>Thương hiệu</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá (VNĐ)</th>
                    <th>CPU</th>
                    <th>Ram</th>
                </tr>
              </thead>
              <tbody>
                {{#if listProduct}}
                {{#each listProduct}}
                <tr>
                    <th scope="row">{{quantityProduct}}</th>
                    <th>{{laptop_id}}</th>
                    <td>{{model_name}}</td>
                    <td>{{name}}</td>
                    <td>{{inventory}}</td>
                    <td>{{price}}</td>
                    <td>{{laptop_cpu}}</td>
                    <td>{{laptop_ram}}</td>
                </tr>
                {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>